.hourly-weather-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  .weather-condition-section {
    display: flex;
    flex-direction: row;

    .weather-icon-container {
      min-width: 80px;
      display: flex;
      justify-content: center;

      .weather-icon {
        font-size: 3rem;
      }
    }
  }

  .label {
    margin: 0;

    &.condition,
    &.temperature {
      font-size: 1.8em;
    }

    &.temperature {
      margin-right: 10px !important;
    }

    &.hour {
      font-weight: 400;
    }
  }

  @media (max-width: 576px) {
    .weather-condition-section {
      .weather-icon-container {
        min-width: 70px;
      }
    }
  }
}
