.hourly-weather-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .weather-condition-section {
    display: flex;
    flex-direction: row;
    .weather-icon {
      font-size: 3rem;
      margin-right: 10px;
    }
  }

  .weather-condition {
    .condition-label {
      margin: 0;
      font-size: 1.8em;
    }
    .hour-label {
      margin: 0;
      font-weight: 400;
    }
  }
}
