.hourly-weather-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  .weather-condition-section {
    display: flex;
    flex-direction: row;

    .weather-icon-container {
      min-width: 80px;
      display: flex;
      justify-content: center;

      .weather-icon {
        font-size: 3rem;
      }
    }

    .weather-condition {
      .condition-label {
        margin: 0;
        font-size: 1.8em;
      }
      .hour-label {
        margin: 0;
        font-weight: 400;
      }
    }
  }
}
