@use '@angular/material' as mat;

.city-card {
  @include mat.elevation(2);
  border-radius: 8px;
  padding: 0;
  color: white;

  &:focus {
    outline: none;
  }

  .city-image-container {
    .city-image {
      background-size: cover;
      margin: 0;
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }

    .mat-card-content {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: 20px 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .city-label {
        margin: 0;
        font-size: 2.4em;
      }

      .country-label {
        margin: 0;
        font-weight: 500;
      }

      .wind-icon-container {
        .wind-icon {
          font-size: 1.4em;
        }
        .wind-label {
          font-size: 1.4em;
        }
      }

      .temperature-label {
        margin: 0;
        font-size: 2.4rem;
      }
    }
  }
}

:host-context(.card-theme) {
  .city-card {
    cursor: pointer;
    max-width: 400px;

    &:hover {
      @include mat.elevation(9);
    }

    .city-image-container {
      height: 230px;

      &:hover > .city-image {
        filter: brightness(0.7);
        transition: filter 300ms ease-in-out;
      }

      .city-image {
        filter: brightness(0.4);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        transform: translateZ(0);
        transition: filter 300ms ease-in-out;
      }

      .weather-icon-container {
        position: absolute;
        right: 30px;
        top: 80px;

        .weather-icon {
          font-size: 6rem;
        }
      }
      .loading-label {
        position: absolute;
        bottom: 0;
        right: 20px;
      }
    }
  }
}

:host-context(.header-details-theme) {
  .city-card {
    max-width: 832px;

    .city-image-container {
      height: 350px;
      border-radius: 8px 8px 0 0;
      .city-image {
        border-radius: 8px 8px 0 0;
        filter: brightness(0.7);
      }

      .mat-card-content {
        .wind-icon-container {
          .wind-icon {
            font-size: 2em;
          }
          .wind-label {
            font-size: 2em;
          }
        }
        .temperature-label {
          font-size: 3rem;
        }
      }

      .weather-icon-container {
        position: absolute;
        right: 40px;
        top: 110px;

        .weather-icon {
          font-size: 8rem;
        }
      }

      .loading-label {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -75px;
        font-size: 2.4em;
        text-shadow: #0f0f0f 5px 2px 6px;
      }

      @media (max-width: 576px) {
        .mat-card-content {
          .wind-icon-container {
            .wind-icon {
              font-size: 1.4em;
            }
            .wind-label {
              font-size: 1.4em;
            }
          }
          .temperature-label {
            font-size: 2.4rem;
          }
        }

        .weather-icon-container {
          position: absolute;
          right: 32px;
          top: 130px;

          .weather-icon {
            font-size: 6rem;
          }
        }
      }
    }
  }
}
