<mat-card class="city-card">
  <div class="city-image-container">
    <img mat-card-image class="city-image" src="assets/images/city-amsterdam.jpg" alt="Photo of Amsterdam city">
    <mat-card-content>
      <div>
        <h1 class="city-label">Amsterdam</h1>
        <h4 class="country-label">Netherlands</h4>
      </div>
      <div class="wind-icon-container">
        <i class="wi wi-strong-wind wind-icon"></i><span class="wind-label"> 8 Km/h</span>
      </div>
      <h2 class="temperature-label">12° C </h2>

    </mat-card-content>
    <div class="weather-icon-container">
      <i class="wi wi-day-sunny weather-icon"></i>
    </div>
  </div>

</mat-card>
